[2015-05-22 12:03] sporto opened #1 "Consider renaming Codemirror.js to Codemirror.jsx"
I'm using webpack, because Codemirror.js extension is `js` but it contains JSX code, I need to pipe node_modules through babel. Maybe consider renaming this file to .jsx so the webpack config can ignore .js files in node_modules.

[2015-05-22 12:14] sporto opened #2 "this.valueChanged doesn't exists"
When trying to use this component I get:

"Warning: Failed propType: You provided a `value` prop to a form field without an `onChange` handler. This will render a read-only field. If the field should be mutable use `defaultValue`. Otherwise, set either `onChange` or `readOnly`. Check the render method of `CodeMirror`."

Looking at the source:

[code]

the function `valueChanged` is not found elsew

[2015-05-28 08:54] insin opened #3 "npm package.json main points to src/ instead of lib/"
The `main` config in the `package.json` published to npm points to `src/Codemirror.js`, which contains untranspiled JSX.

I had to tweak it to `lib/Codemirror.js` manually to use this module.

[2015-05-28 09:20] JedWatson commented on #3
Thanks @insin, it shouldn't be like that - I'll fix it now.

[2015-05-28 09:24] #2 closed

[2015-05-28 09:24] #3 closed

[2015-05-28 09:28] JedWatson commented on #1
Sorry @sporto - that was actually a mistake in the package.json, which should be pointed at the `lib` folder instead (see #3)

Fixed now.

[2015-05-28 09:28] #1 closed

[2015-06-21 19:12] insin opened #5 "onChange fires when value is changed programatically"
`onChange` is called when the Codemirror component receives a new value when rendering.

Test case: https://gist.github.com/insin/9e507894f3858028c7e5
Live version: http://bl.ocks.org/insin/raw/9e507894f3858028c7e5/

Every call to onChange is `alert()`-ed, Clicking the "Change value" button changes the value in the component's state.

Just got bit by this using Redux, as updating some state which

[2015-06-22 21:06] jmunsch opened #6 "Line Numbers not rendering to gutter correctly."
Using Browserify.

If I toggle the included css being pointed to the numbers display correctly.

![snapshot](https://cloud.githubusercontent.com/assets/2908235/8292513/b467dd48-18f5-11e5-8844-448703f5afc1.png)

Like this:
`.CodeMirror-gutter-elt {left: -29px !important}`

The line numbers display correctly, after I include the above line of css.

Possibly related areas of code:
https://github.com/

[2015-07-14 07:03] dnbard opened #7 "Invariant Violation: addComponentAsRefTo"
I've put `react-codemirror` to my project just almost the same as it described in example:

[code]

and got next error:
Uncaught Error: Invariant Violation: addComponentAsRefTo(...): Only a ReactOwner can have refs. This usually means that you're trying to add a ref to a component that doesn't have an owner (that is, was not created inside of another component's `render` method). Try rendering thi

[2015-08-30 20:48] steveluscher commented on #7
Fixed in #9.

[2015-09-18 17:17] steveluscher opened #12 "Codemirror does not update when options change"
Repro:

[code]

The Codemirror is still read-only.

[2015-09-25 22:38] shangsunset opened #14 "editor not displaying properly"
Hi the editor is not displaying properly for some reason. i did as the doc suggests. am i missing something? thanks.
![screen shot 2015-09-25 at 6 34 12 pm](https://cloud.githubusercontent.com/assets/3700269/10113626/6ed5f85a-63b4-11e5-9d51-ff9f3b280077.png)

[2015-09-28 15:07] garrensmith commented on #14
@shangsunset that could mean you have not loaded the Codemirror css file.

[2015-09-28 15:10] garrensmith opened #15 "Does not highlight javascript text correctly"
If I want to display javascript with `react-codemirror` it doesn't correctly highlight the code to match the set theme. This is because you need to load the javascript background worker. Something like this:

`require('../node_modules/codemirror/mode/javascript/javascript');`

[2015-09-28 17:44] shangsunset commented on #14
@garrensmith yea thats the issue. thanks. do you know how to include/require addon and mode?

[2015-09-28 17:45] shangsunset commented on #14
@garrensmith yea thats the issue. thanks a lot.

[2015-09-28 17:45] #14 closed

[2015-09-30 19:17] cjhaddad commented on #15
@garrensmith is this setting the mode option to 'javascript' or using a MIME type? I've tried both 'javascript', 'text/javascript', and 'application/javascript' and even when I load the js background working file. it does not work.
other question - have you syntax highlighting with json set to true?

    mode: {
      name: 'application/javascript',
      json: true
    }

[2015-10-01 08:57] garrensmith commented on #15
@cjhaddad I'm using webpack and all I do is after `require('react-codemirror')` the next line is `require('../node_modules/codemirror/mode/javascript/javascript');` and then it works for me.

[2015-10-02 15:01] harobed opened #16 "Can you append a section in Readme about react-codemirror vs react-code-mirror"
Can you append a section in Readme about react-codemirror vs react-code-mirror (https://github.com/ForbesLindesay/react-code-mirror) ?

[2015-10-17 19:35] Glench opened #18 "Upgrade to to new React API"
Breaking API changes in React in v0.14. Can be automated with https://github.com/facebook/react/blob/master/packages/react-codemod/README.md

[2015-10-20 20:43] davedawson commented on #15
Thanks, @garrensmith. That solution worked for me!

@JedWatson, it may be helpful to include that info in the readme.

[2015-10-21 07:04] #12 closed

[2015-10-21 07:19] JedWatson commented on #12
Fixed, I tweaked a couple of issues in that PR and added a readonly toggle to the example as a test.

[2015-10-28 10:39] sapegin commented on #18
@JedWatson Hey, would be very nice to have this merged :shipit:

[2015-10-28 12:56] JedWatson commented on #18
Done, sorry for the delay!

[2015-10-28 12:56] #18 closed

[2015-10-30 06:32] #15 closed

[2015-11-05 10:17] codeuniquely commented on #15
I believe that you can just use

    require('react-codemirror');

    // Load various syntax files
    require('codemirror/mode/python/python');
    require('codemirror/mode/tcl/tcl');
    require('codemirror/mode/javascript/javascript');

[2015-11-05 15:21] JedWatson commented on #15
@codeuniquely that's correct. I've added this to the readme :)

[2015-11-11 00:02] isTravis opened #21 "Server-Side Rendering?"
Any thoughts on how we could integrate this with server-side rendering?

[React-code-mirror](https://github.com/ForbesLindesay/react-code-mirror) has a nice approach of simply generating a textarea with the content and then having codemirror hot-load over it once on the client.

[2015-12-06 11:03] atis-- commented on #5
The example doesn't really work for me (some errors in the console). However, the `change` event from CodeMirror instance has a second argument which describes the change. If value comes from  `setValue()` call, then `change.origin == 'setValue'`, so I think that may be used to differentiate between the changes.

[2015-12-13 20:21] liviuignat commented on #21
Has anyone found any solution with server-side rendering?

[2015-12-15 23:48] allanhortle opened #24 "NPM sometimes causes two copies of codemirror to load."
I ran into a confusing issue where the  `<Codemirror/>` component was loading its own copy of codemirror and my custom implementation of was looking for modes and addons in another directory. This caused my addons to not apply correctly.
If I went in and manually  deleted the lower copy of codemirror from the node_modules folder everything was okay again.

[code]

Not sure if this fixable or just

[2015-12-18 14:47] kjbekkelund commented on #24
This isn't because of this lib, but because of npm. If you're on npm v3 it should be [less of a problem](https://github.com/npm/npm/blob/master/CHANGELOG.md#flat-flat-flat):

If it happens again you can use `npm ls | grep "codemirror"` to see if they are different versions.

[2015-12-18 20:44] davedawson opened #25 "Using Codemirror Addons"
I'd like to take advantage of the [Placeholder addon](http://codemirror.net/demo/placeholder.html). This requires adding a `placeholder` attribute to the `textarea`. Can this react-codemirror component be extended to include the ability to add attributes directly to the `textarea` element that gets generated?

[2015-12-21 01:41] travisperson commented on #6
Has anyone been able to figure this out completely? I am too running into this issue.

[2015-12-31 09:59] n1k0 opened #28 "Live demo is broken"
Since 0.2.3 I guess

http://jedwatson.github.io/react-codemirror/

[2016-01-10 23:26] romines opened #30 "Expose CodeMirror library"
I'm trying to use Firebase's [Firepad](https://github.com/firebase/firepad) with this component. Firepad is expecting a global CodeMirror object, which it doesn't find unless I include the library separately. Perhaps it is a given that this conflicts with this component? Is there a way to expose the CodeMirror library within a component, so that it is available to Firepad? Apologies if this is the

[2016-01-15 21:02] darkyen commented on #28
Uncaught Error: Invariant Violation: addComponentAsRefTo(...): Only a ReactOwner can have refs. You might be adding a ref to a component that was not created inside a component's `render` method, or you have multiple copies of React loaded (details: https://fb.me/react-refs-must-have-owner).

[2016-01-16 01:43] thealjey commented on #21
I don't care if it actually renders server side, or if it just creates a dummy `<textarea>`
but, I am pretty sure that it should not die with a `ReferenceError: navigator is not defined` error

[2016-01-16 01:54] thealjey commented on #21
I've just created a [PR](https://github.com/JedWatson/react-codemirror/pull/31) for this.

[2016-01-16 09:38] JedWatson commented on #28
Not sure what went wrong with that build, but I've cleared all my local build caches and republished the latest version. It's working again. Thanks for the heads up :)

[2016-01-16 09:38] #28 closed

[2016-01-16 09:42] #21 closed

[2016-01-16 09:44] JedWatson commented on #21
I just merged @thealjey's PR, and published a new version. I've also updated it so the rendered textarea has the initial `value` from `props`, like @isTravis suggests from `react-code-mirror`.

Should completely resolve this issue, let me know if any of you run into more difficulties with it!

[2016-01-27 08:38] IonutLaceanu opened #32 "Uncaught TypeError: Cannot read property 'setOption' of undefined"
Hi

I receive ```Uncaught TypeError: Cannot read property 'setOption' of undefined```, which happens in ```componentWillReceiveProps``` at line 50.
```this.codeMirror.setOption(optionName, nextProps.options[optionName]);```

For some reason, it seems that ```componentWillReceiveProps``` triggers before ```componentDidMount```, so ```this.codeMirror``` is not yet defined.

The event also triggers a

[2016-01-31 13:16] lucidlive opened #34 "Codemirror syntax highlighting doesn't seem to work"
First of all, thanks for this putting the work into making CodeMirror work with React. I have it working great EXCEPT the syntax highlighting just doesn't work. I included the necessary library modes (ie: Javascript, PHP) and theme but the Syntax doesn't get highlighted. When I view the live DOM, I don't see any of the markdown that triggers the syntax colors (like cm-tag, etc...). Has anyone else

[2016-02-02 15:28] ai-dev commented on #34
up

[2016-02-04 00:33] alexdmiller commented on #5
I've been battling with this for a while, and it's messy. I see state stored in three separate places:

1. The CodeMirror object;
2. The `react-codemirror` React component (in the `_currentCodemirrorValue` property);
3. And my own component's `state`.

Synchronizing these three pieces of state is a nightmare. The way the state is sent to and from each object is unpredictable. I sunk a few hours in

[2016-02-04 02:00] alexdmiller commented on #5
Here's a test case that demonstrates this failure-to-synchronize: https://jsfiddle.net/n1gz4hLn/1/

Watch out, this will crash your tab. When you try to type, you enter an infinite loop.

[2016-02-04 02:21] alexdmiller commented on #5
I took a stab at fixing this by removing the state from the CodeMirror React component. It's not perfect, but remove a lot of the code smell.

#35

[2016-02-08 08:03] kumarharsh commented on #34
Yup, even I'm not getting it.

[2016-02-08 10:39] ai-dev commented on #34
Are you using it with weback?
It seams that it isn't able to get the modes dependencies after the build.
I "solved" the problem by using the original Codemirror. For sure there is a better way to fix this, but I don't had the time to look at it.

[2016-02-08 10:42] lucidlive commented on #34
Thanks for the response. Yeah, I am using Webpack. I'll look into it and if I figure anything out, I'll post send you a note :)

[2016-02-08 10:57] kumarharsh commented on #34
Actually, I've got it working. In my case, it was because I was specifying mode as `sql` instead of `text/x-sql`. Although there is one bug with this library : the gutters become 100% of the width of the screen. I fixed this by calling `this.codeMirror.refresh()` in the `componentWillReceiveProps()` of the react-codemirror module

[2016-02-08 15:32] guidobouman commented on #30
`this.refs.editor.getCodeMirror()` if you have bound your codemirror instance through `ref="editor"`

[2016-02-11 00:17] Glench opened #36 "differentiate onChange vs. manual input?"
Hi there! I would just like to start by saying thanks! React-Codemirror has been awesome. Sometimes I wish instead of bug reports there was a thing on github for "appreciation reports".

Anyway, a thing I just ran into is that it seems the onChange handler gets called both when a user is editing a codemirror and also when changing the value from React (which I believe uses cm.setValue()). I was wo

[2016-02-13 15:04] ArnaudValensi commented on #6
I have the same issue too.

[2016-02-13 16:44] unformatt commented on #7
I'm getting this error with React 0.14.7 and react-codemirror 0.2.5

[2016-02-16 23:31] Glench commented on #36
After some digging, I made a monkeypatch in my version that surfaces CodeMirror's onChange handler's "origin" property:

	codemirrorValueChanged: function codemirrorValueChanged(doc, change) {
		var newValue = doc.getValue();
		if (this._currentCodemirrorValue !== newValue) {
			this._currentCodemirrorValue = newValue;
			this.props.onChange && this.props.onChange(newValue, change.origin);
		}
	},

[2016-02-20 15:34] devahome opened #38 "Example in repository is not working correctly"
I copied the code from react-codemirror/example/src/example.js
I am running:
codemirror .5.12.0
react-codemirror 0.2.5
react 0.14.6
nodejs 5.6.0

**Issues I am having:**

1. with **line numbers turned off** the display has some extra area above the first line with a single character  x

[code]

2. With ** line numbers turned on**  the menus at the bottom stay left aligned and the text in the edito

[2016-02-20 16:52] devahome commented on #38
I did a little more digging. Thanks to Dorian's  blog ( http://dorianpula.ca/2015/10/07/adding-a-code-editor-to-rookeries/) I was able to get rid of my issues above. But there is still an outstanding issue of highlighting not working.

Thanks Dorian.

[2016-02-20 16:52] #38 closed

[2016-02-20 16:54] devahome commented on #6
See http://dorianpula.ca/2015/10/07/adding-a-code-editor-to-rookeries/ for a possible answer. Dorian's suggestion worked for me. But highlighting is still MIA.

[2016-02-21 14:38] devahome commented on #6
Should have read the example more carefully. The css in he example (https://github.com/JedWatson/react-codemirror/blob/master/example/src/example.less) includes the necessary css. Still looking for an answer to the highlighting issue - probably not specifying some option.

[2016-03-01 06:15] alechewitt commented on #32
I am also seeing this.

[2016-03-10 01:00] balkonsmoke opened #39 "`require('codemirror')` loads react-codemirror component"
I've tried to embed `react-codemirror` into the app as described in the example, but faced strange issue.
I got an error `TypeError: CM.fromTextArea is not a function`.

After some investigation, I found that `react-codemirror` loads itself here https://github.com/JedWatson/react-codemirror/blob/master/lib/Codemirror.js#L6

`CM` contains CodeMirror react component.

I'm bundling project with webpa

[2016-03-14 17:34] sapegin opened #40 "Add changelog"
Because [it’s important](http://keepachangelog.com/).

[2016-03-14 19:13] alexdmiller commented on #36
See the discussion at #5

I created a pull request to help fix this: #35

[2016-03-21 05:45] shubhamsizzles commented on #34
I am having the same problem. My dom looks like :
![image](https://cloud.githubusercontent.com/assets/8946207/13911428/324b4a24-ef56-11e5-9a83-cb666ded2c08.png)

[2016-03-25 20:01] blackdynamo opened #41 "Potentially implement autoFocus"
I was just wondering if you had any plans of implementing the autoFocus property. If this was set to true, it would focus inside code mirror, if it was false (default) it would not.

I know I can call .focus, but I am trying to refrain from using any dom or refs.

[2016-04-01 07:13] i3i2uno commented on #39
Experiencing the same issue.

[2016-04-08 06:31] Nicolewxyy commented on #6
I have the same issue even if I loaded the codemirror.css

[2016-04-08 06:46] Nicolewxyy commented on #6
Use refresh or autorefresh to solve it. I require autorefresh.js and set option autoRefresh to true solved  it.

- [https://github.com/codemirror/CodeMirror/issues/3098 ] See more details

[2016-04-08 08:34] vslinko opened #42 "Update react to version 15.0"
Today is the day when [first stable version of React is released](https://facebook.github.io/react/blog/2016/04/07/react-v15.html).
I hope that all popular instruments like this will support the new version soon.

[2016-04-08 09:14] vslinko commented on #42
Created PR https://github.com/JedWatson/react-codemirror/pull/43

[2016-04-09 05:34] JedWatson commented on #42
Merged and published! `v0.2.6` is compatible with React `^v15.0.0`, thanks for the PR!

[2016-04-09 05:34] #42 closed

[2016-04-11 00:34] longouyang opened #45 "propType for codeMirrorInstance should be function"
Now that #33 is merged, I'm trying to pass in my own CodeMirror instance to the component but I'm getting a warning:

[code]

I think the [propType for `codeMirrorInstance`](https://github.com/JedWatson/react-codemirror/blob/master/src/Codemirror.js#L14) should be switched from object to function, because `require('codemirror')` actually returns a function. (In particular, it's a function with pro

[2016-04-23 04:22] rgbkrk commented on #41
This is one of the properties you can set on creating the CodeMirror component, within the `options`:

[code]

[2016-04-23 04:24] rgbkrk commented on #36
Possibly closed by #35.

[2016-04-28 03:19] sslotsky opened #46 "When multiple Codemirror components exist on a page, only one can change the language"
I have a page that renders multiple instances of this component:

[code]

It renders one for each entry in an array. The very bottom instance works perfectly. When I change my selection in the language dropdown, I can see the highlighting change as I expect. But all instances above the bottom instance reflect no change when I change their corresponding dropdown select.

There are no errors whatsoe

[2016-04-28 03:21] sslotsky commented on #46
As a point of clarification, I've tried arrays of size 1, 2, and 3. In all cases, the bottom instance works, the top instances do not. I can link a repo if needed.

[2016-04-28 07:02] n1k0 opened #47 "Why is Codemirror#componentWillReceiveProps async?"
There might be a very good reason I'm not aware of for debouncing `componentWillReceiveProps` by default, but it created a lot of headache when it comes to state synchronization (refs https://github.com/mozilla-services/react-jsonschema-form/pull/175).

What's the reasoning behind scheduling it to the next tick? Also, could it be conceivable to make this an optional behavior?

[2016-04-28 13:15] sslotsky commented on #46
Here's a link to the repo if you need that to reproduce. Run `npm start` and then click on the `NEW POST` button on the sidebar and you'll see three snippets. In the top two snippets, the syntax highlighting does not change when you update the language.

https://github.com/sslotsky/redux-tech-blog

Nothing obvious stands out in this package's source and I've yet to attempt to step through due to t

[2016-04-28 14:01] sslotsky commented on #46
Had a quick minute to step through the package's source code, and when I set a breakpoint in `componentWillReceiveProps` and update the language on my first snippet, I see that `this.codeMirror.getValue()` returns the text from the bottom snippet.

I've tried messing around with passing in the `codeMirrorInstance` but this is a problem because when this prop is passed in, an object is expected, bu

[2016-04-28 14:26] sslotsky commented on #46
Aha, got to the bottom of this! It has to do with the `debounce` in the `componentWillReceiveProps` method of this package.

Since I was using `redux-form`, updating one snippet would update the form state, which would cause a re-rendering of _all_ snippets. And because `componentWillReceiveProps` is debounced, the function inside would only fire for the bottom snippet.

Workaround for my `Snippet

[2016-04-28 14:26] #46 closed

[2016-04-29 11:20] joshbuckley182 commented on #34
I had the same/similar issue, which was resolved by upgrading to npm 3.

I've got `codemirror` and `react-codemirror` as project dependencies.

Under npm 2, I had 2 copies of `codemirror` (my projects depenency, and `react-codemirrors` dependency), and under npm 3, it's shared in the `node_modules` root.

[2016-04-29 11:37] redlolgeerf commented on #34
I'm using webpack and npm 3.3, this is how I got syntaxhighlight to work:
```import CodeMirror from 'react-codemirror'```
```import 'codemirror/lib/codemirror.css'```

[2016-04-29 13:19] joshbuckley182 commented on #39
@balkonsmoke: Did you find a solution to this? I'm having a related issue.

---
When running my project (through webpack), I'm getting this in my terminal:
[code]

`lib/Codemirror.js` is trying to load `codemirrror` (at https://github.com/JedWatson/react-codemirror/blob/master/lib/Codemirror.js#L20), but is ending up with `src/Codemirror.js`. Perhaps because I'm on a case-insensitive filesystem (O

[2016-05-01 04:01] stoplion opened #48 "How do i get access to doc?"
I'd like to use doc.eachLine method. How do i get access to doc?

[2016-05-01 04:04] stoplion commented on #48
var e = this.refs.editor;
d = e.codeMirror.doc;
got it

[2016-05-01 04:04] #48 closed

[2016-05-02 03:46] sslotsky commented on #47
The debouncing causes me some trouble as well. It appears that the `debounce` applies to all instances of the component on a page simultaneously, so if they all try to re-render at once, only the last instance will actually show a change.

This was the issue I described in #46, which I closed because I found a way to work around it. However, this will still be a problem for instances like drag & d

[2016-05-02 05:06] sslotsky commented on #47
The debouncing causes me some trouble as well. It appears that the debounce applies to all instances of the component on a page simultaneously, so if they all try to re-render at once, only the last instance will actually show a change.

This was the issue I described in #46, which I closed because I found a way to work around it. However, this will still be a problem for instances like drag & dro

[2016-05-04 03:55] sslotsky commented on #47
I submitted #49 to make the `debounce` specific to the instance, rather than all instances.

This resolves the issue shown in the video linked above, as can be seen in this video.

https://drive.google.com/open?id=0B83XKh4UhcuBZVVqeG1nSVlpcWc

[2016-05-04 03:57] sslotsky commented on #47
I submitted #49 to make the debounce specific to the instance, rather than all instances.

This resolves the issue shown in the video linked above, as can be seen in this video.

https://drive.google.com/open?id=0Bzbw-6Q_sVTyblQzMldidXdIdUU

[2016-05-04 23:47] fooqri commented on #34
I had originally installed react-codemirror without codemirror (so code-mirror installed as a dependency), and syntax highlighting didn't work.

This worked for me:
1. npm uninstall react-codemirror
2. npm install --save codemirror
3. npm install --save react-codemirror

This way codemirror isn't installed also as a dependency under react-codemirror that may have slight version differences.  Also

[2016-05-11 04:55] BerkeleyTrue commented on #5
The PR reference by this issue has been merged. Should this issue be closed?

[2016-05-11 15:11] joshbuckley182 commented on #39
@kelchm That pull request would remove the original source code!

@JedWatson Perhaps adding the `src` dir to  `.npmignore` and republishing would help?

[2016-05-11 21:51] kelchm commented on #39
@joshbuckley182 That wasn't intended to ever be a pull request. Just a quick hack for my personal use, didn't realize mentioning the issue number would cause it to show up here.  I think your solution is the correct one.

[2016-05-12 23:40] cafreeman commented on #25
@davedawson Were you ever able to find a way around this? I'm currently in the exact same boat.

I thought I might be able to work around it by using the following snippet in the parent's `componentDidMount` method, but no luck:
[code]

It DOES set the placeholder on the textarea, but by that point it appears to be too late.

[2016-05-13 00:31] cafreeman commented on #25
@davedawson @JedWatson FWIW, I've created a fork of this component and implemented the placeholder functionality. I can open a PR if you're open to that.

https://github.com/cafreeman/react-codemirror/commit/a3d1f6c83798119bee408d9d91a5965b435fe19d

[2016-05-20 08:12] tamtakoe opened #50 "codemirror.js:5921 Uncaught TypeError: textarea.getAttribute is not a function"
React-Codemirror 0.2.6 doesn't work with React 0.13.3 in last Chrome version

[code]

It looks like textarea does't exist

[2016-05-21 20:59] zenoamaro commented on #39
@balkonsmoke, @joshbuckley182, the issue is caused by these lines in your webpack configurations:

[code]

This causes `react-codemirror` to look for `codemirror` in its own `src` directory before looking in `node_modules`. I would suggest changing that to something like:

[code]

[2016-05-22 22:12] jgautheron opened #51 "ES6 compatibility"
I'm trying to use `react-codemirror` in my ES6 project but it fails.

Importing it that way:
[code]

Getting the following error:
[code]

Am I doing something wrong or is the project not compatible yet?

[2016-05-24 06:31] #6 closed

[2016-05-24 15:11] hamishtaplin commented on #51
@jgautheron I'm using it with es6 no problems, seems like an issue with your babel setup to me.

[2016-05-24 15:13] jgautheron commented on #51
I kind of figured it out, related to server side rendering. The issue is not related with `react-codemirror` so I'm closing it.

[2016-05-24 15:13] #51 closed

[2016-05-28 20:56] desduvauchelle opened #52 "Hints?"
Hello.
Thanks for this!

Is it possible to use code hints?
If yes, could you provide an example?

Thanks!

[2016-05-30 06:48] fantasy8-me commented on #51
I encounter a similar error
[code]

I found the problem caused by webpack loading setting, in below line
https://github.com/JedWatson/react-codemirror/blob/master/src/Codemirror.js#L17

it is expected to load 'codemirror' in 'node_module'

But if we have webpack like below, which treat 'src' as module folder too, then  'https://github.com/JedWatson/react-codemirror/blob/master/src/Codemirror.js' i

[2016-05-30 21:11] attaboy commented on #47
Thanks for the pull request, @sslotsky. It fixes a similar problem I was having where a first instance of CodeMirror fails to sync its options to state when there's a second instance on the page.

[2016-06-04 01:03] alexdmiller commented on #47
I submitted the PR which added the debouncing—it could have been misguided. I was having a nightmare with state synchronization, as described in #5. I wrote #35 to fix my problems. I didn't consider what would happen with multiple instances.

Maybe someone else can dig into the state sync problems and come up with a better solution.

[2016-06-08 02:45] attaboy opened #53 "Re-setting options on an existing instance can have side effects"
I've found that react-codemirror seems incompatible with proper usage of the `lint` add-on to CodeMirror.

The way to activate linting is to set it as an option, e.g.

[code]

lint's default behavior is to respond to onChange events (debounced and on a 500ms delay), but when it's first initialized, it runs immediately on the current editor value. react-codemirror's approach to setting all of the o

[2016-06-08 03:02] attaboy commented on #53
Okay, thinking about this more; using JSON.stringify would almost certainly cause other bugs, since there are a handful of CodeMirror options that take functions as values.

[2016-06-09 06:20] gunn commented on #34
Webpack and npm 2.14.12.
I had to make sure I was loading the same codemirror files as react-codemirror. So:
[code]

[2016-06-15 23:42] ktalebian commented on #7
Any update on this?

[2016-06-28 22:45] velveret commented on #7
See https://gist.github.com/jimfb/4faa6cbfb1ef476bd105 for some of the fixes that have worked for other people. In my case, I had to make react external in webpack.

[2016-07-04 13:43] #45 closed

[2016-07-21 04:21] yakewdx commented on #52
I have found a way to use hint.
I registered the show-hint add-on in `componentDidMount` function.
[code]

and the file

also need a bit rearrange.

[code]

[2016-08-03 05:04] dukedougal opened #57 "How can I specify the height?"
I've tried putting the following in options but none seem to make any change.

 "height": "100%"
 "height": "800px"
 "height": "auto"

How can I set the height?

thanks

[2016-08-15 06:13] iroy2000 opened #59 "Doesn't show up anything ( blank ), is my configuration wrong ?"
Trying to setup  in order for it to show up, the following is my setup, let me know if I did something wrong, thanks.

[code]

And the following is the render function

[code]

And I do screen the code there, but my screen is blank, am I missing something ?

<img width="531" alt="screen shot 2016-08-14 at 11 11 48 pm" src="https://cloud.githubusercontent.com/assets/487520/17656986/a813e176-6274-11

[2016-08-15 10:46] supasate opened #60 "How to simulate `change` event?"
I'm writing a unit test with mocha to test that my CodeMirror calls `this.props.onChange` method.
Normally, I use `TestUtils.Simulate` (from `react-addons-test-utils`) to simulate `change` event on `input` or `textarea`. But, for CodeMirror, it does not respond to such event. (I tried with every css class selector prefixed with CodeMirror.)

Outside mocha, my CodeMirror works fine. It calls the `t

[2016-08-15 12:51] ldabiralai commented on #57
@dukedougal

You can set the height via css on `.CodeMirror`, auto will cause it to take the height of the contents. It's documented here: https://codemirror.net/doc/manual.html#styling

[2016-08-15 23:57] dukedougal commented on #57
I seem to have the syntax wrong - the following code doesn't change the height.....

[code]
May I ask the correct syntax please?

thanks

[2016-08-16 00:02] dukedougal commented on #57
Oh I see, sorry you were directing me to update the CSS rather than set an inline style.

It works now thanks with the following in my app.css:

[code]

[2016-08-16 00:37] supasate commented on #60
I can do it now with `signal`.

[2016-08-16 00:37] #60 closed

[2016-08-17 09:25] realgenekim commented on #50
I'm having the same problem — React-Codemirror 0.2.6, React 0.13.3, Chrome.  Any tips on how to resolve?

Top of stack trace is as follows:

[code]

codemirror.js:5942 is this:

[code]

Thanks!

[2016-08-17 16:53] realgenekim commented on #50
Fixed by upgrading to react@~0.14.2.

(Underlying Codemirror module needs React 14 or 15, so maybe ReactCodemirror also needs this dependency, as well?)

[2016-08-18 12:22] kai23 commented on #51
Have the exact same issue with webpack and ES6

[2016-08-18 18:52] kavun commented on #59
You need to include the .css from

    ./node_modules/codemirror/lib/codemirror.css

[2016-09-01 16:49] ericclemmons opened #63 "debounce(componentWillReceiveProps) breaks with MobX + multiple instances"
I just confirmed that when when an `observable` changes (e.g. `@observable myName = ""`):

[code]

Only the **last** `<CodeMirror />` instance updates.

Once I removed `debounce` from `componentWillReceiveProps`, everything worked as intended.

[2016-09-06 19:50] Chun-Yang commented on #47
Hey @alexdmiller what id the reason to debounce?

If there is a good reason, one way to fix the bug is to create the debounce function in the componentDidMount function, I can give it a shot. But before that, could you elaborate the reason for the debounce?

[2016-09-07 22:58] marinintim commented on #59
Probably should be mentioned right in the README.md

[2016-09-30 18:47] cynicaldevil opened #71 "(question) Customized styling for codemirror component"
I want to use the customized styling defined in the Codemirror docs [here](https://codemirror.net/doc/manual.html#styling), but it works by overriding CSS classes in stylesheets. I wanted to know if there is a way to style the component inside React itself.

[2016-09-30 22:18] paulathevalley opened #72 "aXe audit: Form elements must have labels"
Running the [aXe: the accesibility engine](http://www.deque.com/products/axe/) chrome extension yields a critical violation: [Form elements must have labels](https://dequeuniversity.com/rules/axe/2.1/label?application=axeAPI).

The target in question is `<textarea ref="textarea" ... ` https://github.com/JedWatson/react-codemirror/blob/master/src/Codemirror.js#L85

**Summary**:
**Fix any of the fol

[2016-10-04 14:47] arheom opened #74 "npm distribution has in the src folder a codemirror.js instead of codemirror.jsx"
Inside the dist/src folder, now there is a codemirror.js file which contains jsx code.

The problem I have is, I am using webpack to bundle it, but it complains that cannot process this file, cos it is a js file and does not understand the jsx inside. Not sure why it goes there, but it just fails. I managed to fix it and works well, when I change the extension from .js to .jsx. Afterwards everythi

[2016-10-10 03:05] Sunzhuoyi commented on #46
I did as you write when multiple codemirror on a page ,but it didn't work.
when it comes to that i delete the debounce it works well,but I don't know if there is something bad .

[2016-10-12 07:00] 0x24a537r9 commented on #71
I'm not sure exactly what the issue is--styling the inner elements still works exactly as expected. For example, the following still matches and styles the core `.CodeMirror` element as expected, even though it's inside the React component's `.code-mirror` element:

[code]

Are you saying that you want a programmatic way of setting these styles inline instead of using CSS class definitions? If so,

[2016-10-12 07:21] 0x24a537r9 commented on #57
Hm, I agree that this is a bit unintuitive. Setting the height on the React container doesn't do anything, which seems a bit odd since it's not like the `.CodeMirror` element's height is set to `auto` by default. If it were, I could see why setting the height on the React container should do nothing, but it's not.

Perhaps it would be better to set `.CodeMirror { height: 100%; }` by default so tha

[2016-10-12 10:25] cynicaldevil commented on #71
yes, I wanted to know whether it's possible to set the styles in JS itself. the problem I'm facing is that I am using webpack to import stylesheets; and I need different styles for each component, but the `import` doesn't allow me to do that.

To be clear, when I `import ` different stylesheets in different pages, only one stylesheet gets selected at random,  and is then applied to components in a

[2016-10-12 20:10] 0x24a537r9 commented on #71
I think the only way to set the styles of a component's child element is to use describe it in a stylesheet or reference the DOM using a `ref` and find the child underneath.

That said, I'm still not quite understanding your setup or why you need to set the styles with JS. Maybe a bit more specific details about your exact components and file structure would help?

For example, in my project (also

[2016-10-14 12:40] cynicaldevil commented on #71
I use codemirror components on two pages, and I want to set the component's `height` rule in one of the pages to auto, so that the height of the codemirror component is determined by the lines of code. So I create a stylesheet to apply this style and import it in the required page using an `import`. But this style is then applied across all pages, even those where I haven't `import`ed the styleshe

[2016-10-16 06:17] 0x24a537r9 commented on #71
Yeah, unless I'm am misunderstanding your issue, it sounds like the real problem is that you're using one stylesheet for multiple pages--which is always going to cause problems like this regardless of react-codemirror. It doesn't sound to me like changing react-codemiror is the right move.

Instead I would suggest splitting your stylesheets up into separate page-specific CSS modules. The `webpack_

[2016-10-17 12:01] vokar97 commented on #51
I had same problem on the mac os 10.11.6 (with default Journaled HFS+ case-insensitive file-system), but I've already resolved it by changing file name of src/Codemirror.js (thanks fantasy8-me). So I fully agree with fantasy8-me's advice of renaming src file to avoid conflict!

[2016-10-22 13:47] mukeshsoni opened #76 "Cannot run the demo app"
I tried using react-codemirror in an electron app but it doesn't show the editor at all. So i tried running the demo app in this repo but get the following build error -

[code]

I don't know if the problems in electron app usage are also due to browserify errors.

[2016-10-22 21:12] Cavitt commented on #74
I can confirm this issue is reproducible and the solution above fixes it.

[2016-10-22 21:32] Method-X opened #77 "ReferenceError: navigator is not defined"
`ReferenceError: navigator is not defined
W20161022-17:29:38.375(-4)? (STDERR)     at /Users/mattmacpherson/Code/project/node_modules/codemirror/lib/codemirror.js:24:19
W20161022-17:29:38.375(-4)? (STDERR)     at userAgent (/Users/mattmacpherson/Code/project/node_modules/codemirror/lib/codemirror.js:12:22)
W20161022-17:29:38.376(-4)? (STDERR)     at Object.<anonymous> (/Users/mattmacpherson/Code/p

[2016-10-22 22:38] Cavitt commented on #30
Incase anyone is looking at the issue, continuing on @guidobouman's statement, you can now use:
`this.refs.editor.getCodeMirrorInstance()` to get the full CodeMirror instance, not just the editor.

[2016-10-23 22:28] cynicaldevil commented on #71
Sorry for the late reply, but I looked into it, and it looks like the problem might actually be because of `webpack_react_rails`. I'll open an issue on their page shortly.

[2016-10-26 08:43] farhan687 commented on #25
I am facing same issue, can anybody merge the PR which is created bby @cafreeman.

[2016-10-27 13:40] afc163 commented on #63
I use `{myName && <CodeMirror key="something" value={myName} />}` as workaround.

[2016-11-03 19:53] wickedest commented on #76
Waiting merge: https://github.com/JedWatson/react-codemirror/pull/78

[2016-11-22 03:40] JedWatson commented on #63
Should be fixed with v0.3.0, please reopen if not!

[2016-11-22 03:40] #63 closed

[2016-11-22 03:42] JedWatson commented on #76
Just fixed this, thanks for the report!

[2016-11-22 03:42] #76 closed

[2016-11-22 06:58] mukeshsoni commented on #76
Thanks @JedWatson !

[2016-11-30 21:44] dawsonbotsford commented on #21
We're attempting to use this component with server side rendering and still receiving the error `ReferenceError: navigator is not defined`. After searching the source code it shows that `navigator` is still included in master branch:
https://github.com/JedWatson/react-codemirror/search?utf8=%E2%9C%93&q=navigator

Are we missing something?

[2016-12-01 02:18] tedwong commented on #34
Do anyone encounter similar issue?
1. My npm version: 4.0.2
2. I using webpack
3. In my JS:

[code]
[code]

[code]

What I get in the result, is there something I missing?:

![screen shot 2016-12-01 at 10 14 23 am](https://cloud.githubusercontent.com/assets/188722/20779434/78af0830-b7af-11e6-91ab-7ee113e54794.png)

[2016-12-01 09:37] justindeguzman commented on #53
@attaboy Were you able to find a solution?

[2016-12-06 16:35] attaboy commented on #53
@justindeguzman I ended up forking this project pretty aggressively since it seems dormant. To solve this particular problem I added some functions to test "deep" object/array equality.

[code]

[code]

[2016-12-15 21:48] ankitgoyal100 opened #80 "Is there a way to show the autocomplete dropdown automatically on every key stroke?"

[2016-12-19 17:55] jonhue opened #81 "Linenumber rendering issue"
_Because all other issues regarding this topic were closed, I opened this new issue._

This is my CodeMirror instance:
[codemirror.txt](https://github.com/JedWatson/react-codemirror/files/661603/codemirror.txt)

I am using autorefresh and simplescrollbars.

I recorded the issue I am experiencing:
[Video](https://vimeo.com/196305264)

When starting the editor, the linenumbers look like:
[Image](htt

[2016-12-19 18:12] #81 closed

[2016-12-22 13:57] revelt commented on #57
@dukedougal Would it make sense to close this issue?

[2016-12-22 14:15] revelt commented on #52
@desduvauchelle Did the above response solved the issue? I'm wondering can we close it.

[2016-12-23 03:24] bengle commented on #34
I get this problem too.
Finally,import "https://codemirror.net/mode/javascript/javascript.js" this file,it works.

[2016-12-24 06:42] cuining commented on #57
componentDidMount() {
      const cm = this.refs.editor.getCodeMirror();
      const { width, height } = this.props;
      // set width & height
      cm.setSize(width, height);
    }
    render() {
      return (
        <div className={className}>
          <Codemirror ref="editor" value={value} onChange={value => this.props.onChange(value)} options={options} />
        </div>
      );
    }

[2016-12-28 14:55] OleksiiShevchenko commented on #51
You can change webpack config rather than rename a file https://github.com/JedWatson/react-codemirror/issues/39#issuecomment-220799966

[2016-12-30 11:54] liu0fanyi opened #82 "How could using addon : fold"
I found fold demo here: [https://codemirror.net/demo/folding.html](url)

And I try this:
[code]

nothing happend...
I'm new here...What should I do next? Thanks...

[2017-01-01 08:40] few-bit commented on #82
I think, you should import

[2017-01-01 14:29] liu0fanyi commented on #82
Yes ,you are right...

[2017-01-04 19:09] ankitgoyal100 commented on #80
@JedWatson bumping this

[2017-01-05 03:11] bencooling opened #83 "Standalone version looks for ReactDOM common.js module."
React is handled correctly, but not ReactDOM.

[Source Code](https://github.com/JedWatson/react-codemirror/blob/master/dist/react-codemirror.js#L9545)

[code]

[2017-01-07 08:04] yakewdx commented on #52
@ankitgoyal100
You have to activate the event handler.
According to the documents of CodeMirror,
the event 'keyup' is the right choice.

So you can change a bit of the source code of react-codemirror.
In the file `node-modules/react-codemirror/lib/Codemirror.js`,
add the event handler:

[code]

and also in `editor.js`,
add the event handler,

[code]

If you want to handle other original events of

[2017-01-10 05:11] gerrard00 commented on #34
Building on what @bengle said, this worked for me:

[code]

[2017-01-12 00:46] blackdynamo commented on #41
Thanks. :)

[2017-01-12 00:46] #41 closed

[2017-01-15 14:30] liu0fanyi opened #84 "How to use 'command' in codemirror"
I want to use save command in codemirror.

like this:
[code]

Cant find a way to use this in react-codemirror...

[2017-01-15 19:58] avinashdaiict commented on #39
I am having a similar issue
can we have this resolved by adding src  to npmignore

[2017-01-16 01:41] wrannaman commented on #77
Are you using server side rendered react? There won't be a navigator until the doc is ready.

[2017-01-21 05:11] JakeCooper commented on #57
@cuining Since `this.refs` and `ReactDOM.findDOMNode` are deprecated, you're better off doing the following:

[code]

[2017-01-27 09:22] SerendpityZOEY commented on #34
It's weird that javascript syntax highlighting is working while clike is not. I use it with webpack as well. @lucidlive @kumarharsh I would be appreciate if you can tell me a reason why. Thanks.

[2017-02-01 22:17] sslotsky commented on #77
This was supposedly fixed but still happens as noted in #21

I would also like to use this package with SSR and currently cannot for this reason.

[2017-02-01 22:26] sslotsky commented on #77
Seems it was removed here:

https://github.com/JedWatson/react-codemirror/commit/4624b3d067d566ea3e8a1c73b79300d6babde956#diff-2c23fe372e330148850d3aa80cedc390

[2017-02-03 16:59] SpencerCDixon opened #86 "Testing with selenium"
I've been stuck trying to test this component with webdriver.io for days now.  Has anyone successfully been able to do this??

[2017-02-09 23:07] the7erm opened #87 "place is not a function"
TypeError: place is not a function[Learn More] bundle.js:56747:13

[code]

I'm not sure what's going on here.  The `else { place(d.wrapper) }` line is throwing that error.  Is there a specific version of codemirror that's required?

[2017-02-09 23:10] the7erm commented on #87
This is what I have installed.
[code]

[2017-02-10 12:04] the7erm commented on #87
FYI: I ran `npm install codemirror@5.18.2 --save` and this seems to have fixed the bug.  It appears that the newest version of codemirror 5.23.0 isn't compatible with `react-codemirror`

[2017-02-13 17:41] Salakar commented on #77
@Method-X @sslotsky we've worked around this issue by importing as follows:

[code]

And then rendering:

[code]

After which it's only the client now that renders, on the server it's ignored. Does the job 👍

[2017-02-15 19:50] ktalebian opened #88 "Overlay method"
How do I do overlays? I want to overlay a mustache syntax highlighting over XML, something similar to [this example](https://github.com/codemirror/CodeMirror/blob/master/demo/mustache.html).

[2017-02-16 21:37] edwin0258 opened #89 "lint addon is not working"
I've been trying to add javascript-lint gutter markers to my code editor and I haven't been getting anywhere. I am importing the lint.js and javascript-lint.js files from codemirror like I assume I am supposed to do. I have also added the lint and gutter options to my options object like I've also seen. I am getting everything to work properly except the lint gutter markers. Below is the code I am

[2017-02-20 04:53] sslotsky commented on #77
@Salakar Thanks that worked fantastically!

For what it's worth, `require('react-codemirror')` itself does not produce the error. Just including the modes does. So you could make that first require unconditional and render unconditionally as well.

[2017-03-07 06:22] NEtOrnANtHeR commented on #81
@jonhue I think I 've met just the same issue like you did.
Why is this closed?

[2017-03-07 06:31] NEtOrnANtHeR commented on #81
Got it. You should link #6

[2017-03-07 06:50] NEtOrnANtHeR commented on #6
Did you guys really solve this problem ?

I used `autoRefresh: true` and `import 'codemirror/addon/display/autorefresh';` , wrong rendering still  remains.

![image](https://cloud.githubusercontent.com/assets/11695765/23645104/6389760c-0345-11e7-9d9a-9f950708913e.png)

[2017-03-07 11:04] #82 closed

[2017-03-07 13:13] jonhue commented on #81
I think it was a version specific issue, try changing you CodeMirror version.

[2017-03-09 03:55] IanWang opened #90 "Uncaught DOMException: Failed to execute 'removeChild' on 'Node'"
<img width="783" alt="screen shot 2017-03-09 at 11 40 53" src="https://cloud.githubusercontent.com/assets/3864761/23735027/13c63c84-04be-11e7-8c5c-2bba157e7725.png">

got the error caused by [this](https://github.com/JedWatson/react-codemirror/blob/master/src/Codemirror.js#L54) when navigating with react-router.

[according to the author of codemirror](https://groups.google.com/forum/#!topic/codem

[2017-03-09 04:29] IanWang commented on #90
hmmm it turns out the issue is related to other codemirror plugins which change the DOM structure.
it'll work properly when the structure looks like this

<img width="452" alt="screen shot 2017-03-09 at 12 28 25" src="https://cloud.githubusercontent.com/assets/3864761/23735953/fc9b550c-04c3-11e7-9ac2-520455c39017.png">

[2017-03-09 04:29] #90 closed

[2017-03-09 12:50] NEtOrnANtHeR opened #91 "Text selection problem: can't properly partially select text"
![image](https://cloud.githubusercontent.com/assets/11695765/23750856/c80fa5a4-0509-11e7-9d07-3003eafae219.png)

Value
[code]

Option
[code]

Very simple options and value, but can't select text properly.

**The text selected has some backgroud color with unknown line-height, and can't find how to solve that by modifying css property**

Has anyone been through this before? Any advice will be appre

[2017-03-11 16:36] iErik commented on #34
I'm still facing the same problem using even with all the solutions and the original CodeMirror,
I'm using the following packages:

npm v4.1.12
webpack v10.14.0
react v15.4.2
react-codemirror v0.3.0
codemirror v5.18.2
electron v1.14.15
webpack-dev-middleware v1.10.0
webpack-hot-middleware v2.16.1

I'm running the app in development server with hot realoading and nothing seems to work. The actual m

[2017-03-12 05:50] cacois commented on #89
Running into the same issue here. So far can't figure out what the problem is.

[2017-03-12 12:14] NEtOrnANtHeR commented on #91
It's been found that some css property from parent componnent affected the position calculation of cursor.

[2017-03-12 12:14] #91 closed

[2017-03-14 06:39] prime-ralph opened #92 "CodeMirror.defineMode is not a function"
Did the instructions and all was working fine until I had to set the mode for the CodeMirror instance. Installed `codemirror` as a dependency, `require`d the language and got a `CodeMirror.defineMode is not a function` error.

I tried doing what was done at #87, but it did not solve this issue.

[2017-03-15 15:08] attaboy commented on #53
@cacois I just created a pull request that I believe fixes the problem with `lint`: #93

[2017-03-15 15:08] attaboy commented on #89
Hey gents, I'd appreciate it if you tried my forked branch (see #93) to see if it fixes the problem with lint.

[2017-03-15 15:54] cacois commented on #53
@attaboy Thanks for the note!  Plugged your branch in to give it a test, but I don't see any change in behavior in my app. Any specific guidance on getting it working?  I'm basically just importing libraries adding the `lint: true, gutters: ['CodeMirror-lint-markers']` options.

[2017-03-15 17:44] attaboy commented on #53
@cacois Which lint plugin are you trying to use? I'm using jshint successfully in my project by requiring `addon/lint/lint` and `add-on/lint/javascript-lint` and ensuring that the JSHint library is loaded already (globally, which is an assumption that the javascript-lint add-on makes).

[2017-03-16 02:29] edwin0258 commented on #89
So, I couldn't get your branch to work and realized in the process that I needed to add
[code]
to my HTML .  Now everything is working for JavaScript atleast 👍 (Just used current version of react-codemirror)
I have not tested other languages yet.

[2017-03-16 03:06] cacois commented on #53
@attaboy Got it! Turns out I wasn't getting the JSHINT function to be globally available, as necessary. Once I figured out how to import it properly, things began working fine. Thanks!

[2017-03-16 03:07] cacois commented on #89
Got this branch to work just fine. (hint: make sure you have the JSHINT function imported globally)

I recommend a merge of this PR.

[2017-03-22 06:07] davina18 commented on #6
I tried refresh() instead and it worked.

Something like this:
`componentDidMount() {
	this.refs.editor.getCodeMirror().refresh();
`

[2017-03-27 04:49] liu0fanyi commented on #84
I'v got what i want:
* set ref first
[code]
* use it like this
[code]

[2017-03-27 04:49] #84 closed

[2017-03-30 15:10] amritdevilo opened #95 "Cannot change the dimension of the editor"
Codemirror does not provides any options to change the dimension of the editor. For changing the dimension I fear that the instance of code mirror is needed.

I propose a solution where introduce a way of passing the instance of codemirror to the parent of react-codemirror

[2017-04-10 09:38] lifeiscontent opened #98 "Warning: CodeMirror: React.createClass is deprecated"
Hi, any ideas when this will be fixed?

Warning: CodeMirror: React.createClass is deprecated and will be removed in version 16. Use plain JavaScript classes instead. If you're not yet ready to migrate, create-react-class is available on npm as a drop-in replacement.

[2017-04-11 06:44] purplesquirrels commented on #98
There is a pull request that was created about 2 days ago to fix this. Hopefully it gets merged in soon.

[2017-04-14 19:57] callmemagnus opened #99 "Fix the version of the dependencies"
For modules, as a user, I expect to obtain a module that will not change in time (as long as the version is not different).

I know that, in theory, the `^` should ensure backwards compatibility but I have experienced bad stuff with some module to then discover the issue was a dependency of dependency. Those issues would not have happened if the dependencies version were static (without ^ or ~).

[2017-04-15 19:14] Pau1fitz commented on #6
@davina18  When I try this I get `Cannot read property 'getCodeMirror' of undefined`. Any ideas why?

[2017-04-17 04:28] Yangsou opened #102 "lineNumbers error"
Hi Mr.JedWatson!
I have set options lineNumbers is true, and when CodeMirror render, the style of linenumber is not loaded.
![linenumbers](https://cloud.githubusercontent.com/assets/18292152/25078825/f0fc26b6-2360-11e7-92b2-0e5cfb4dfdd2.png)

[2017-04-21 17:54] darklightblue commented on #34
@fooqri 's solution worked for me. thanks! cheers.

[2017-04-25 18:03] jpatel3 commented on #87
Not sure how you got `react-codemirror` `0.3.0` version. I am running into the same issue - `'place is not a function'` with `0.2.6` (which seems to be latest version for `react-codemirror`)

[2017-04-27 11:50] elbrus opened #104 "Add support for React 15.4.0 and above"
I don't know is it possible in currect lib state, but to ahieve it you'd need at least to remove private React API usage

[2017-05-05 20:04] Janpot commented on #99
You can't control your dependency's dependencies. I think [npm shrinkwrap](https://docs.npmjs.com/cli/shrinkwrap) is better suited for your use case.

[2017-05-06 06:35] callmemagnus commented on #99
If everyone is resigned like that, it will never be solved, you are right.

Shrinkwrap is annoying as it fixes also the source registry which may be problematic in corporate environments.

The owner of this module will anyway decide what he wants to do with his module.

I wish that more core module owner made the transition to fixing dependencies

[2017-05-10 19:20] Aaronius commented on #47
This seems really tricky to work around. For example, in my component I have a `componentDidUpdate` where I'm calling `doc.markText()`, but this assumes that the underlying CodeMirror instance has the value that was passed into the React-CodeMirror instance during the last render.  This doesn't seem to be the case though, because React-CodeMirror doesn't pass the value to the underlying CodeMirror

[2017-05-14 06:26] JedWatson commented on #104
Fixed by #97

[2017-05-14 06:26] #104 closed

[2017-05-14 07:05] #53 closed

[2017-05-14 07:44] JedWatson commented on #89
This should be fixed now, I've merged the changes in #93

[2017-05-14 07:44] #89 closed

[2017-05-14 07:56] #7 closed

[2017-05-14 07:59] JedWatson commented on #99
Unfortunately if the versions were pinned more explicitly in this package, it would need to be republished every time there is a change or important fixes may not be available which is something I don't want to opt in to. And in any case, we have no control over the dependencies of our dependencies, so it would be an incomplete solution.

I recommend shrinkwrap or something with a lock file (yarn,

[2017-05-14 07:59] #99 closed

[2017-05-14 07:59] JedWatson commented on #98
It has been :)

[2017-05-14 07:59] #98 closed

[2017-05-14 08:07] callmemagnus commented on #99
okay, your module, your choice.

[2017-05-14 08:36] #40 closed

[2017-05-15 12:47] Sandeep3005 commented on #95
@amritdevilo - Did you found any solution to change the dimension

[2017-05-15 14:59] MrSauceman opened #106 "Code mirror value doesn't update with state change in v1.0.0"
Changing props.value does not re-render code mirror. This is a new issue in v1.0.0, previously this worked.  Changing props.value via the onChange event works fine, but programmatically changing props.value does not call a re-render.

This can be reproduced with the following code.
[code]

This appears like it may have something to do with this change listed in the history file: ````fixed; Only up

[2017-05-15 19:22] marcioaffonso commented on #106
Same issue here, @MrSauceman, do you have a workaround?

[2017-05-16 04:55] ovidiuch commented on #106
Created a PR to fix this https://github.com/JedWatson/react-codemirror/pull/107. I've [commented](https://github.com/JedWatson/react-codemirror/pull/105#issuecomment-301334593) on this issue two days ago:

This is the PR that that introduced the debouncing: https://github.com/JedWatson/react-codemirror/pull/35. Maybe @alexdmiller has more insight into this issue.

[2017-05-16 04:57] ovidiuch commented on #106
PS. Try using referencing my branch in your package.json (temporarily!) to see it solves your issues as well:

[code]

Update: You might want to use https://github.com/scniro/react-codemirror2

[2017-05-16 12:21] IamTheHttp opened #108 "Webpack warning when importing"
Hey,

When I'm importing the component:
`import CodeMirror from 'react-codemirror';`

I'm getting the following warning :

I'm using react-codemirror 1.0.0
using mac(case insensitive FS)

Any ideas?

[2017-05-16 14:30] marcioaffonso commented on #106
It works @skidding!

[2017-05-19 11:06] ovidiuch commented on #106
Published my fork under [@skidding/react-codemirror](http://npmjs.com/package/@skidding/react-codemirror) until #107 gets merged or resolved otherwise.

Update: You might want to use https://github.com/scniro/react-codemirror2

[2017-05-24 17:47] FredrikNoren opened #110 "Not reacting to value change"
If I change `value` to something new, it's not reflected in the UI (nothing changes). After some debugging I think the culprit is this line: https://github.com/JedWatson/react-codemirror/blob/master/lib/Codemirror.js#L46

Because of that, the `nextProps.value !== this.props.value` equality is always false on line 68, because this.props.value has already been updated.

[2017-05-25 01:53] besh commented on #110
I believe this PR fixed the issue
https://github.com/JedWatson/react-codemirror/pull/107

[2017-05-25 10:04] FredrikNoren commented on #110
Ah cool, thanks

[2017-05-25 10:04] #110 closed, assigned to nobody

[2017-05-25 11:28] wladimiiir commented on #86
I actually ended up with this solution:
[code]
So basically, you click in editor, press CTRL+a and backspace (`\uE009a\uE009\uE003`). Then just type `newValue` into editor.

[2017-05-25 15:43] rickbergfalk commented on #52
I was able to get a built-in codemirror hints working and configured without modifying any of the react-codemirror or codemirror files, and figured I'd share.

Assuming you have a webpack/create-react-app setup you can do:

[code]

[2017-05-25 23:11] scniro commented on #106
+1 whats going on with this? Merging the PR fix would be soooooper

[2017-06-01 13:46] rocktavious commented on #106
Bump!  I'm having this issue too!

[2017-06-01 14:23] scniro commented on #106
For anyone who's still hung up on this or considering another editor, I'd highly recommend giving the raw codemirror library a look to use directly. I'm doing so with a tiny component wrapper I rolled and it's very straightforward. One less dep too (lodash as well)...

[2017-06-01 15:29] MrSauceman commented on #106
@scniro care to share your wrapper?

[2017-06-01 16:19] scniro commented on #106
@MrSauceman Of course. It's pretty bare bones, but here is what does the trick for me with some sample options...

wrapper
[code]
usage
[code]

where `value` and `options` can be passed as a living prop from the parent component

[2017-06-01 17:58] scniro commented on #106
Also, should anyone find this useful I threw up a super quick package on npm => [react-codemirror2](https://www.npmjs.com/package/react-codemirror2). If others find this useful I'll be happy to maintain it moving forward and build it up however we see fit.

[2017-06-01 18:05] scniro commented on #47
This appears to be a duplicate of #106. I ran into the same issue and created [react-codemirror2](https://www.npmjs.com/package/react-codemirror2) because I was dying over the debouncing issue (and couldn't sleep at night with the lodash dependency). My wrapper component is very barebones, surely needs some more work, but works well for my simple usage. I'll be maintaining it moving forward so any

[2017-06-02 03:41] scniro commented on #5
Hey all. I too was struggling with some related issues and decided to roll another wrapper for this at [react-codemirror2](https://github.com/scniro/react-codemirror2). No external deps, state free, and works well for my use case. Please give it a look if you are feeling adventurous. I'd like to actively maintain it moving forward. I'm also looking for suggestions to craft it in the best fashion m

[2017-06-02 11:43] scniro commented on #102
If this issue still persists please give [react-codemirror2](https://github.com/scniro/react-codemirror2) a look. I'm planning on maintaining this moving forward. Better docs will be coming. Feel free to open up any issues/suggestions as I'll be trying to gather as much constructive feedback from the community moving forward

[2017-06-02 11:45] scniro commented on #39
If this issue still persists please give [react-codemirror2](https://github.com/scniro/react-codemirror2) a look. I'm planning on maintaining this moving forward. Better docs will be coming. Feel free to open up any issues/suggestions as I'll be trying to gather as much constructive feedback from the community moving forward

[2017-06-02 11:45] scniro commented on #36
If this issue still persists please give [react-codemirror2](https://github.com/scniro/react-codemirror2) a look. I'm planning on maintaining this moving forward. Better docs will be coming. Feel free to open up any issues/suggestions as I'll be trying to gather as much constructive feedback from the community moving forward

[2017-06-02 11:46] scniro commented on #32
If this issue still persists please give [react-codemirror2](https://github.com/scniro/react-codemirror2) a look. I'm planning on maintaining this moving forward. Better docs will be coming. Feel free to open up any issues/suggestions as I'll be trying to gather as much constructive feedback from the community moving forward

[2017-06-02 11:46] scniro commented on #30
If this issue still persists please give [react-codemirror2](https://github.com/scniro/react-codemirror2) a look. I'm planning on maintaining this moving forward. Better docs will be coming. Feel free to open up any issues/suggestions as I'll be trying to gather as much constructive feedback from the community moving forward

[2017-06-02 21:05] JakubKahovec commented on #52
@rickbergfalk does the dropdown with options get shown ? I made it somehow working, it auto-completes a word, but the dropdown with options never appears.

[2017-06-02 23:48] MartinHaeusler commented on #106
I think I ran into this issue as well. I'm using redux, so I can monitor which values are present in the application state. The codemirror editor clearly does not reflect the `value` property that was given to it. However, I am unable to pin down the cases when this bug occurs; in some regions of my  UI it works as expected, in others the editor doesn't update...

[2017-06-02 23:53] rickbergfalk commented on #52
@JakubKahovec It should... I ran into similar issues. A couple things to check:

- make sure you're including the dropdown css `import 'codemirror/addon/hint/show-hint.css';`
- if only 1 match would display in the dropdown, I believe the default codemirror behavior is to automatically complete and skip showing the dropdown. To avoid this set `completeSingle` to false in the hint options passed to

[2017-06-03 08:30] JakubKahovec commented on #52
@rickbergfalk I've double checked show-hint css is there  (it appears as an inline css) and completeSingle is false. The only thing is I don't use create-react-app, but have my own stack. The code is almost identical to yours, the only difference is I use javascript hint. When I press Ctrl-Space nothing appears but  when then I press Tab it completes the word with some random word (i.e 'f' complet

[2017-06-04 07:02] moroshko commented on #21
@JedWatson The error still appears. Could you please have a look?

[2017-06-05 06:27] JakubKahovec commented on #52
@rickbergfalk finally got it. I had the codemirror editor in a modal window (semantic ui) so the hints popup was hidden behind it. Setting z-index to max on hints popup fixed it.

[2017-06-08 18:30] YilinGao opened #112 "Question: how to get the CodeMirror instance"
Hello I'm new to react and codemirror, and I am having a problem with your package: how to get the underlying CodeMirror instance when I need to use some of CodeMirror's methods?

[code]

Thanks for any help!

[2017-06-09 14:24] mindjuice commented on #112
I'm using TypeScript, and importing it with the current type defintions didn't work so I used require instead: `const CodeMirror = require('react-codemirror')`

Then in my JSX I use: `<CodeMirror ref={(c: any) => this.cm = c} value={this.props.code} />`, which gives me the React CodeMirror component on `this.cm`.

Then in callback handlers, I can reference `this.cm.getCodeMirrorInstance()` to call

[2017-06-11 17:32] depaolif commented on #89
I can't seem to get this to work still. Here's my  code
[code]

What is this missing?

[2017-06-12 13:29] arjanfrans commented on #106
I am having the same issue, this makes the library unusable for me. I downgraded for now.

[2017-06-12 13:36] alexduf commented on #106
FWIW I tried it on a fresh project and couldn't get that feature to work. I switched to Ace editor which does the trick for me.

I'm not putting that comment to be dismissive or aggressive but as someone who doesn't know these libraries very well it took me a while to find out so here's a link: https://github.com/securingsincity/react-ace

[2017-06-13 18:06] ssilve1989 commented on #108
@IamTheHttp You've likely imported 'react-codemirror' somewhere else with a different casing

[2017-06-14 04:05] osamajandali opened #113 "clike mode is not working"
I Have used xml mode and works well for me and I have to add clike but it seems that it doesn't parse well, when i require it it changes the color so that's mean it works but can not see the code well and here is a screenshot.
<img width="533" alt="screen shot 2017-06-14 at 6 01 45 am" src="https://user-images.githubusercontent.com/13832392/27114938-70d60940-50c7-11e7-97ef-8a11c44aef53.png">

[2017-06-15 11:44] frankjar commented on #87
i have had this issue, just because i have imported the wrong module for CodeMirror

I had :
`import CodeMirror from "codemirror";`

Error fixed like this :
 `import CodeMirror from "react-codemirror";`

[2017-06-15 23:08] #112 closed, assigned to nobody

[2017-06-16 12:44] TryingToImprove commented on #113
I have the same problem with java

[2017-06-17 17:12] bshandley opened #114 "React-codemirror without webpack/browserify, with Typescript"
I'm trying to install react-codemiror without webpack or browserify on an MVC 5 project that is using Typescript. I'm using the standalone distribution (dist/react-codemirror.js) which I thought would work fine. However, when I go to load the webpage, Chrome complains "Uncaught Error: Cannot find module 'react-dom." Both react.js and react-dom.js are loaded before react-codemirror.js.

The way I u

[2017-06-17 17:57] inoas opened #115 "Using CodeMirror Plugins"
Is there an easy way to use official CodeMirror plugins such as:
https://codemirror.net/doc/manual.html#addon_fullscreen
https://codemirror.net/doc/manual.html#addon_placeholder

?

[2017-06-18 14:30] inoas commented on #95
Check the codemirror docs - the solution is obviously CSS based.

[2017-06-19 00:07] stoplion commented on #106
would be awesome if this could be merged soon

[2017-06-20 08:48] screamuch opened #117 "Can't find variable CodeMirror"
I am using `react-rails` and it looks like `react-dom` is not there at all.
[code]

[2017-06-23 15:00] DmitriyGribennikov opened #119 "Avoid usage of React.propTypes and React.createClass"
According to ^15.5.0 patchnotes

[2017-06-23 16:56] jacargentina opened #120 "How to use with postcss"
Using postcss in my React app, and then when i do

[code]
the classes are already processed, so there is no class `CodeMirror`, etc.

[2017-06-24 04:54] ympadilha commented on #106
I'm having this issue as well, gradly I've found this post! I'll try the solutions here mentioned but it would be really awesome to get this merged soon!

[2017-06-28 12:59] OsamaShabrez opened #121 "Changing the value in store will not update the component & contents"
If CodeMirror value is changed at the backend, directly in the store the component does not reflect the latest changes.

There is no way I have found so far that can force update the component. Any help would be greatly appreciated.

[2017-06-28 16:48] zane-c commented on #121
+1

[2017-06-29 17:55] inoas commented on #115
Closing for now... will report back if we can manage to implement native codemirror plugins.
Edit: also found this: https://github.com/JedWatson/react-codemirror/issues/25

[2017-06-29 17:55] #115 closed, assigned to nobody

[2017-06-29 17:57] inoas commented on #25
Could this be merged into the main branch?

[2017-06-29 18:04] inoas commented on #106
@JedWatson is there any schedule/plan to merge/fix this issue?

[2017-07-03 16:08] marcofugaro commented on #121
I also have this issue

[2017-07-05 13:19] misantronic opened #123 ""There are multiple modules with names that only differ in casing""
I'm on a macOS Sierra 10.12.4 with a case-insensitive fileststem. I get the following error:

[code]

The problem roots in `lib/Codemirror.js`:

[code]

When changing this to `require('../../codemirror')` it works just fine.

[2017-07-12 13:06] scniro commented on #121
@OsamaShabrez @zane-c @marcofugaro hey all, I too was having similar issues and threw up [react-codemirror2](https://github.com/scniro/react-codemirror2) which doesn't seem to suffer from this. I'm planning to maintain it moving forward. Feel free to open up an issue on the repo should anything seem off and I'll be on it 😎

[2017-07-13 22:08] jaredly commented on #121
here's the offending commit https://github.com/JedWatson/react-codemirror/commit/339b5975724cde338301f4c6842f2d52b4773e76

[2017-07-19 08:13] themre commented on #121
ugly hack:
[code]
and then in the code where you want to update:
`this.cm.codeMirror.setValue(newValue)`

[2017-07-19 14:43] inoas commented on #121
@JedWatson can you take a look at https://github.com/JedWatson/react-codemirror/commit/339b5975724cde338301f4c6842f2d52b4773e76 and possibly just reverse it as @jaredly pointed out?

[2017-07-19 18:22] besh commented on #106
@MartinHaeusler We ran into that issue too with the v1 update, introduced by this commit https://github.com/JedWatson/react-codemirror/commit/339b5975724cde338301f4c6842f2d52b4773e76. Your best bet is to either...
1. use ^0.3.0 and suffer the deprecation warnings
2. roll your own codemirror wrapper (that's what we ended up doing)

Bummer that we had abandon this project but supporting your own wra

[2017-07-19 19:30] MartinHaeusler commented on #106
@hankthewhale thanks for the info. I downgraded the package a while ago. Overall I think that code-mirror is great, but to use it properly with react, we would need a full "controlled component" version that has no internal state and receives everything via props and callbacks. Unfortunately this wrapper here does not offer a lot of these features, and code-mirror in particular is quite a big comp

[2017-07-19 20:49] scniro commented on #106
@MartinHaeusler like I had mentioned earlier in this thread - [react-codemirror2](https://github.com/scniro/react-codemirror2) is exactly as you describe - all through props and callbacks. I've recently updated the docs and demo site - give it a look.

[2017-07-20 01:58] besh commented on #106
@marcioaffonso I think this lib only manages a focus state locally. Outside of the current bug for prop value comparison, it is fully controlled.

But yeah, other than downgrading or rolling your own, check out @scniro's lib.

[2017-07-21 21:55] dandersonstack commented on #106
@skidding you version of codemirror worked perfectly! yay. we were having so many issues with this.
We were able to roll back to 0.2.6, and it worked, but then when we moved our state into a redux store, and codemirror stopped updating :(.

Fortunately when using `import CodeMirror from '@skidding/react-codemirror';`
Everything worked perfectly!!
For those curious...

In the end it was simple as t

[2017-07-24 07:30] leipert opened #125 "Maintenance help wanted?"
Hey there.

We tried updating react-codemirror to the newest version, unfortunately it broke for us, as for other users. See e.g. #106 and #107.

I know it is hard to maintain open source projects, we (4 team mates and I at @eccenca) would like to offer to help maintaining this project.

What do you think about it?

/cc other active users:
@skidding @timnew @steveluscher

[2017-07-24 07:38] ovidiuch commented on #125
I have no authority here, but it seems like any OSS author's dream to be offered this sort of help. @JedWatson is your man.

[2017-07-24 07:39] leipert commented on #125
Yeah I know, I just pinged you (and the others), because maybe you also are able to chime in ;-)

[2017-07-24 10:31] inoas commented on #106
**Edit: Please try https://github.com/scniro/react-codemirror2 instead.**
That fork is maintained, available via npm and gathering stars.

~I can confirm that `@skidding/react-codemirror` works. Newbies guide:~
- ~In your app code replace `import CodeMirror from 'react-codemirror';` with `import CodeMirror from '@skidding/react-codemirror';`~
- ~delete `package-lock.json` (there are probably bette

[2017-07-28 23:04] laduke commented on #106
Another work around: add a `key` prop to the codemirror component. Then `key = key + 1` when the `value` prop changes.  This makes the editor re-mount. It's ok for me because the `value` prop only changes when the user clicks the 'reset' button.

[2017-07-31 20:47] rxgx commented on #95
This module wraps the CodeMirror element with a `<div class="ReactCodeMirror">` element which may confuse efforts to correctly size or position the internal `<div class="CodeMirror">` element.

[2017-08-10 15:05] scniro commented on #125
@leipert  I commented on various other issues. I threw up [react-codemirror2](https://github.com/scniro/react-codemirror2). I informed everyone I'll be actively maintaining it moving forward. Still unsure why people are opening issues here expecting a reply after months instead of working with me on a successor. I don't know how else to better convey the message or generate more interest...

[2017-08-10 15:24] scniro opened #126 "Deprecate react-codemirror"
There are currently [36 open issues](https://github.com/JedWatson/react-codemirror/issues), [7 open pull requests ](https://github.com/JedWatson/react-codemirror/pulls). A lot of users are seemingly holding out for all of this to be fixed.

I created https://github.com/scniro/react-codemirror2 and plan to actively maintain it. Please consider [deprecating](https://docs.npmjs.com/cli/deprecate) thi

[2017-08-22 04:01] vpotravnyy commented on #120
You just need to import it without postcss processing.
Add following rule to your webpack config:
[code]

[2017-08-31 08:46] lukas1994 opened #127 "Is there a way to limit the number of lines for the code textarea?"

[2017-08-31 15:27] Aaronius commented on #89
@depaolif Instead of:

[code]

try this:

[code]

[2017-09-04 06:42] zhangyu921 opened #128 "There has no .css file in lib?"

[2017-09-08 13:40] danday74 commented on #89
O WOW I fixed it!

My problem was I didn't load this ...

**codemirror/addon/lint/lint.css**

Boom! God is good :+1:

For further clarification here are my imports:

[code]

And don't forget these options:

[code]

[2017-09-11 23:40] bezreyhan opened #129 "simplescrollbar addon"
I've been trying to get the simplescrollbar addon to work, but have not been successful. I am using V1.0

My imports look like the following:
[code]

My component looks like the following:
[code]

Is there something I am doing incorrectly?

[2017-09-18 13:16] #113 closed, assigned to nobody

[2017-09-23 01:34] ticky commented on #121
I just spent an hour chasing this bug. 🤦🏻‍♀️ Thanks for the (working) fork, @scniro!

[2017-09-23 16:51] rickbergfalk commented on #126
I went and closed my PR since we've switched to react-codemirror2. Highly recommend it if anyone is considering using or currently using this react-codemirror module. Thanks @scniro!

[2017-09-24 02:51] ashking commented on #126
@rickbergfalk , where can I find the react-codemirror2?

[2017-09-24 03:23] rickbergfalk commented on #126
Its on npm as react-codemirror2. https://github.com/scniro/react-codemirror2

[2017-09-24 03:32] ashking commented on #126
Great, thanks!

[2017-09-24 13:04] scniro commented on #126
@rickbergfalk You are welcome and thank you as well for the recommendation! Please feel free to open up an issue over there should you experience any troubles or have any suggestions to help improve.

[2017-09-28 07:07] webgzh907247189 commented on #128
demo:
import CodeMirror from 'react-codemirror'
import 'codemirror/addon/scroll/simplescrollbars.js'
import 'codemirror/addon/scroll/simplescrollbars.css'

[2017-09-29 00:33] john-harding commented on #21
Don't get an error, but it doesn't load.

[2017-10-02 16:36] inoas commented on #106
Edit: Please try https://github.com/scniro/react-codemirror2 instead.
That fork is maintained, available via npm and gathering stars.

[2017-10-03 22:58] jamesopti commented on #126
@scniro Appreciate you pointing this out!

Were upgrading to React16 and came across this issue.

Looks like your peer dependencies include React 16.x, so we'll move over to this as long as the core api is the same (looks like it is).

Thanks!

[2017-11-07 12:08] notten13 commented on #128
Hi,

I'm having the same problem, after installing the module with npm I can't find any CSS files. How can I import the css in my app?

Many thanks

[2017-11-11 08:57] riverleo commented on #21
Don't panic. use this of below.

[code]

[2017-11-28 10:03] Bobcui001 commented on #34
Here is my solution to fix this problem.
Install:
[code]
Version:
[code]
Code:
[code]
The page will look like this:
![image](https://user-images.githubusercontent.com/18111032/33313622-2bb8ccb2-d466-11e7-83bf-649592f1bc4a.png)

May help you~

[2018-01-12 04:38] c0d3-ninja opened #132 "can't add auto completion words"
I can't find any options for auto completion words in this.

[2018-01-14 16:21] RahavLussato commented on #25
this issue can be closed.
its working for me if i set `placeholder` under the options object.

[2018-01-24 04:55] ErwinSalas commented on #77
I have a similar error, when i try to use react-player dependency, someone could helpme
ReferenceError: navigator is not defined
    at FilePlayer.shouldUseHLS (C:\Users\Pavilion\Documents\Proyectos\WebAppRioDanta\node_modules\react-player\lib\players\FilePlayer.js:173:41
)
    at FilePlayer.render (C:\Users\Pavilion\Documents\Proyectos\WebAppRioDanta\node_modules\react-player\lib\players\FilePlay

[2018-01-25 21:39] malikhijazi opened #134 "Onchange when using setValue."
The onChange function is not called when updating the value using setValue due to testing.
Is there a way to manually call the onChange function?

[2018-02-07 21:03] BrunoQuaresma opened #136 "[Question] How can I use emmet plugin with this component?"
How can I use emmet plugin with this componenent?

Plugin link: https://github.com/emmetio/codemirror

[2018-02-13 01:48] lightninglu10 opened #137 "Cursor moves to beginning of document after typing"
Super weird behavior, after i load some code into the editor, and then type something, the cursor goes back to the first line in the editor:

<img width="666" alt="screen shot 2018-02-12 at 5 47 42 pm" src="https://user-images.githubusercontent.com/2453737/36129618-f1e54d10-101c-11e8-9dc3-92a4b9de23c9.png">

<img width="664" alt="screen shot 2018-02-12 at 5 47 46 pm" src="https://user-images.githu

[2018-02-18 21:35] scniro commented on #136
@BrunoQuaresma check out [react-codemirror2](https://github.com/scniro/react-codemirror2)

[2018-02-18 21:36] scniro commented on #132
@vimalchandhru check out [react-codemirror2](https://github.com/scniro/react-codemirror2). This project is pretty much abandoned. Open up an issue over there if you need something. Please include some more details than this one if you elect to do so.

[2018-02-19 13:47] BrunoQuaresma commented on #136
@scniro nice job. In this version is there Emmet? In the docs, I don't see anything about it.

[2018-02-19 15:45] scniro commented on #136
@BrunoQuaresma I have no idea nor have I heard of Emmet, but if you open up and issue over there you'll at least get some attention on it 😄 Please include a little bit of detail and I'll be sure to work it in if it's indeed something we'll want.

[2018-02-20 07:22] edemauro commented on #25
Are other addons supported, such as merge.js (https://codemirror.net/addon/merge/merge.js)? I'm trying to get it to work, but I'm running into a lot of difficulties.

[2018-03-02 20:19] john-harding commented on #91
I recently had this same issue.  In my scenario, the `line-height` of my font was `17px`, and the `line-height` calculated by codemirror was `19px`.  To remedy this I used my custom theme which is named "custom-theme" and set all children elements to the `line-height` of `17px` as shown below.  Pretty simple but hope it helps someone in the future.

    .cm-s-custom-theme * {
        line-height:

[2018-03-08 06:16] mimiiix opened #139 "Editing the codemirror with tab separator is not consistent"
When i write some texts with tab seperator the tab character length is not consistant, it is different each time you can see the issue here :
![capture d ecran 2018-03-08 a 11 44 46](https://user-images.githubusercontent.com/3707052/37136125-3d6997a8-22c6-11e8-8523-9017bd881e04.png)

Here is a screen shot of the result copied in sublime :
![capture d ecran 2018-03-08 a 11 45 15](https://user-image

[2018-03-12 12:53] scniro commented on #139
@mimiiix I'm not sure what the root cause of your issue may be at first glance, could be codemirror itself, but regardless I'd encourage you to check out [react-codemirror2](https://github.com/scniro/react-codemirror2) as it's actively maintained.

[2018-03-15 11:15] kythen commented on #121
+1,the issue  still exist

[2018-04-03 14:28] microdou commented on #139
@mimiiix It's not a bug! This is exactly how `\t` functions. It doesn't equal to four or eight `space`. Please try it in any text editor.

[2018-04-03 14:32] microdou commented on #139
@mimiiix OK, I might have misunderstood your issue... Your issue seems like a font styling problem. You have to style your font as `monospace`, via either `jsx` or `css`.

[2018-04-05 19:05] WinWinHost opened #140 "npm start error"
I'm having a bit of a bad day. *sigh*
On Mac with NPM 5.8
NodeJS v9.4.0

Let me know if you need more info, thanks in advance.

[code]

[2018-04-10 07:11] Younguser commented on #137
I've saw the same problem. Do you solve it?

[2018-04-16 05:04] levyadams commented on #91
@john-harding THANK YOU! I was using text as buttons for selection and only some of them were working. Messing with line-height I was able to make it so they were all easily clickable!

[2018-04-16 05:09] levyadams commented on #91
Another thing I did was increase my z-index of the div element

[2018-04-22 19:42] scniro commented on #140
@WinWinHost This lib is pretty much abandoned. Check out [react-codemirror2](https://github.com/scniro/react-codemirror2). Check out [gulp-clean-css](https://github.com/scniro/gulp-clean-css) too while you're at it 😉

[2018-04-23 19:32] c-emil commented on #25
It doesn't work just by setting `placeholder` under the options object for me @RahavLussato. I also had to require the plugin using `require('codemirror/addon/display/placeholder')`

[2018-04-23 23:25] markusguenther commented on #126
@JedWatson Whats you opinion? Let this nice package die or get some helping hands to polish it. I know that maintaining FOSS is not the easiest job :)

[2018-04-24 22:18] mjbradford89 commented on #137
having the same problem. version 5.37.0

[2018-04-24 22:23] lightninglu10 commented on #137
This library doesn't seem to be maintained anymore, so I used https://github.com/scniro/react-codemirror2 instead.

[2018-04-24 22:36] scniro commented on #126
@markusguenther It's been ~9 months since this was opened. What are you expectations for a response? Why not help make [react-codemirror2](https://github.com/scniro/react-codemirror2) better instead of kicking dirt here?

[2018-05-01 23:40] cristiano-belloni opened #141 "This library is broken and not maintained, please DO NOT USE"
If you have a problem, it won't be solved.

See https://github.com/JedWatson/react-codemirror/issues/106

[2018-05-02 02:27] dongqdong opened #142 "how can i set the value by other operation?"
if i click the tree node i want set the value with treenode attr, how can i write it?

[2018-05-08 21:35] scniro commented on #141
^this. And #126. Check out [scniro/react-codemirror2](https://github.com/scniro/react-codemirror2). I have my own issues over there too, but I'm on top of them the best I can.

[2018-05-08 21:36] scniro commented on #142
@dongqdong give up while you're ahead, this library is abandoned. Check out [scniro/react-codemirror2](https://github.com/scniro/react-codemirror2)

[2018-06-06 21:21] TrevorBurnham opened #144 "Keyboard focus gets trapped"
Steps to replicate:
1. Go to http://jedwatson.github.io/react-codemirror/
2. Tab into the control
3. How do I tab out of it? 😕

[2018-06-07 18:41] TrevorBurnham commented on #144
Looks like this is an issue with CodeMirror itself: https://github.com/codemirror/CodeMirror/issues/5444

[2018-06-07 18:41] #144 closed, assigned to nobody

[2018-06-28 23:14] itaysabato commented on #126
@scniro Is there a migration guide from this lib to yours?
API seems to have changed quite a bit.

Kudos for taking the initiative BTW :)

[2018-07-02 06:34] markusguenther commented on #126
@itaysabato We did the move some month ago and it was pretty simple.

https://github.com/neos/neos-ui/commit/eeb9a9eb6ad260867348f60f908ea9abe0e8c6a4

[2018-07-02 06:56] itaysabato commented on #126
Thanks for the example @markusguenther :)

I switched to the `Controlled` component which has different behaviors, e.g. I had to use `onBeforeChange` because `onChange` was never called. Not sure why this is or why there is an `UnControlled` component at all...

Anyway, I managed to migrate by myself but still think a migration guide would be very helpful to others.

[2018-07-02 11:54] scniro commented on #126
@itaysabato a migration guide for a small component? Yikes. Doesn't the readme cover it? We're not talking frameworks here...

[2018-07-02 16:25] itaysabato commented on #126
@scniro actually no, the readme doesn't cover it.
The "migration guide" can be one or two paragraphs in the readme, it doesn't have to be a big deal.

AFAIK `react-codemirror2` started as a fork for this npm module so it would make sense IMO to have a section explaining how to migrate from it. Maybe it's just me.

[2018-07-02 19:39] scniro commented on #126
@itaysabato It's not a fork, it's a rewrite. There is no overlap or shared history at all with this repo. How does the readme not cover it? As a user who's never used either repo, I'm willing to bet it's all there. I put a bit of effort into making it pretty comprehensive. Anyways, I don't care to waste time explaining something, that IMO, explains itself (the whole point of a readme? 🤔)

[2018-07-13 18:21] rootlinux2 commented on #6
Thanks @Pau1fitz  it worked for me too

[2018-07-30 16:44] sreenigaddam77 opened #145 "Theme syntax highlighting not working"
hi,

I have tried to apply different themes, i can see only background change working,
but code syntax, keywords highlighting not working.
Editor is part of webapp,
could you please advise, what iam missing here
![image](https://user-images.githubusercontent.com/41921259/43410829-deaedb9e-93ed-11e8-92e1-8bb2a24acd70.png)

[2018-09-06 19:39] jflewis commented on #77
It seems the trick from above no longer works in NextJs. This is a terrible hack but the following works for now (if there is a better way in nextjs to do this please share).

In the imports/requires
[code]
and in the render method
[code]

[2018-09-10 08:22] Mostafasaffari opened #146 "how can I beautify(formatting) code after load"
Hi
how can I beautify code? like [this](https://codemirror.net/2/demo/formatting.html)

[2018-09-28 09:56] TechRaY commented on #82
import 'codemirror/addon/hint/show-hint';
import 'codemirror/addon/hint/sql-hint';
import 'codemirror/addon/hint/show-hint.css'; // without this css hints won't show
import 'codemirror/addon/search/match-highlighter';
import 'codemirror/addon/search/matchesonscrollbar';
import 'codemirror/addon/search/searchcursor';
import 'codemirror/addon/fold/foldcode';
import 'codemirror/addon/fold/foldgutter'

[2018-10-01 08:21] TechRaY opened #147 "Foldcode not working for me. And not even getting foldgutter. Any help?"
Here is my codebase ...

 import 'codemirror/addon/hint/show-hint';
 import 'codemirror/addon/hint/sql-hint';
 import 'codemirror/addon/hint/show-hint.css'; // without this css hints won't show
 import 'codemirror/addon/search/match-highlighter';
 import 'codemirror/addon/search/matchesonscrollbar';
 import 'codemirror/addon/search/searchcursor';
 import 'codemirror/addon/fold/foldcode';
 import '

[2018-10-16 14:30] scniro commented on #147
@TechRaY check out [react-codemirror2](https://github.com/scniro/react-codemirror2)

[2018-10-16 14:31] scniro commented on #146
@Mostafasaffari check out [react-codemirror2](https://github.com/scniro/react-codemirror2)

I actually do this in the [demo](https://scniro.github.io/react-codemirror2/) (code [here](https://github.com/scniro/react-codemirror2/blob/master/docs/src/components/Editor.jsx#L44-L48))

[2018-11-05 09:35] TechRaY commented on #147
It is not working with text/dsl mode only. I am getting it when I am using JavaScript mode

[2018-11-14 14:16] jintomenachery commented on #57
Defining a copy of .CodeMirror css file with global keyword will solve this issue.

[code]

Now include this css file,

[code]

[2018-12-03 16:06] mikeboyle opened #148 "Update peerDependencies for react > 16"
Our team loves this library and we are using v1.0.0 without any issues in a project with react and react-dom ~16.6.0.

However, when installing the package, we are getting warnings because the `peerDependencies` in `package.json` is still set to versions of react and react-dom below 16:
https://github.com/JedWatson/react-codemirror/blob/c3ae528465bcdc4f20780892f8a9111e785fa577/package.json#L32-L33

[2018-12-16 01:37] #134 closed, assigned to nobody

[2018-12-23 16:22] ReactGirl opened #149 "Is this library deprecated?"
Any other alternatives?

[2018-12-26 13:39] scniro commented on #149
@ReactGirl check out [react-codemirror2](https://github.com/scniro/react-codemirror2). You'll hear no response here.

[2018-12-26 13:41] scniro commented on #148
@mikeboyle This lib is pretty much abandoned. Check out [react-codemirror2](https://github.com/scniro/react-codemirror2).

[2019-01-03 09:14] bhavesh-pandey opened #150 "How to integrate codemirror-formatting plugin with react"
Hi, I want to use the following plugin with react codemirror

https://github.com/artf/codemirror-formatting
demo: https://codemirror.net/2/demo/formatting.html

How to make the 'autoFormatRange' function available in CodeMirror instance

Thanks

[2019-01-14 01:46] x5engine commented on #77
thank you :)

[2019-01-25 02:30] shihua-guo commented on #34
In my case. Here is my solution to fix this problem. I am not using npm.

- import the loadmode.js

- set the mode and ,then load the mode

 In this process you will found, it would request a js file which depend on the mode you pass in.
![pic](https://ws3.sinaimg.cn/large/005BYqpggy1fzimfqqlupj30sf08vaax.jpg)

so if you lack these mode file,may result in highlight-not-working

I found this soluti

[2019-03-12 23:07] marcmoo commented on #145
same thing happens here, mode can only work with theme of 'monokai', other themes never work...

[2019-03-12 23:57] marcmoo commented on #145
I got the Answer.
need to import the theme css in your root file such as App.js/index.js

for example:(in our index.js)
....
import 'codemirror/lib/codemirror.css';
import 'codemirror/theme/monokai.css';
import 'codemirror/theme/blackboard.css';

...
ReactDOM.render(
  <Provider store={store}>
    <ThemePicker>
      <ErrorBoundary>
        <App />
      </ErrorBoundary>
    </ThemePicker>
  </Pro

[2019-04-14 09:34] alchy58 opened #151 "Focus lost after typing character"
Hi,
I'm facing a strange issue, I suppose I did something wrong.
When I type a character, I lost the focus on the editor. Moreover, the autoFocus option did work so I need to click inside the editor before typing.
What have I missed ?

I'm using react-codemirror 1.0.0

[code]

Thank you

[2019-04-22 07:52] chiaweilee commented on #89
[code]

👍

[2019-06-28 14:35] archies-coder commented on #52
I found a way to incorporate hints with xml. Following is the code...
`import React, { Component } from 'react'
import 'codemirror/lib/codemirror.css';
import '../App.css'
import CodeMirror from 'react-codemirror'
import 'codemirror/mode/xml/xml.js'
import 'codemirror/addon/edit/closetag'
import 'codemirror/addon/edit/matchtags'
import 'codemirror/addon/edit/matchbrackets'
import 'codemirror/addon

[2019-06-28 14:38] archies-coder commented on #52
`import React, { Component } from 'react'
import 'codemirror/lib/codemirror.css';
import '../App.css'
import CodeMirror from 'react-codemirror'
import 'codemirror/mode/xml/xml.js'
import 'codemirror/addon/edit/closetag'
import 'codemirror/addon/edit/matchtags'
import 'codemirror/addon/edit/matchbrackets'
import 'codemirror/addon/edit/closebrackets'
import 'codemirror/theme/dracula.css'
import 'cod

[2019-06-28 14:42] archiesbhoir commented on #52
`autoComplete = cm => {
        const codeMirror = this.refs['CodeMirror'].getCodeMirrorInstance();
        const customTags = {
            '!top': ['add','hello'],
            '!attrs': {},
            'add': {
              attrs: {
                'id': null
              },
              children: ['Student', 'hello']
            },
            'hello': {
              attrs: {

[2019-09-04 01:31] nenezsn opened #152 "How do I use methods like setSize of an instance？"
For example ：
var editor = CodeMirror.fromTextArea(document.getElementById("code")})
editor.setSize ???

[2019-09-04 07:43] #152 closed, assigned to nobody

[2019-10-04 12:22] ppratik2410 opened #153 "How to Set Default Background Color and Default Content Width in Editor?????"

[2019-11-11 06:31] #128 closed, assigned to nobody

[2019-11-13 18:29] annymosse commented on #147
@TechRaY same to your case even i couldn't use it with any custom Mode

[2019-11-21 18:21] DiMono opened #154 "Line numbers sometimes don't load properly using fromTextArea"
I have the following code to load a codemirror text area dynamically, changing the contents and styling based on the file:

[code]
You might notice the setTimeout. That's because for some reason, when I load the editor the first time, there's a chance that the gutters will be almost 1000px wide. This will persist until I load other files a few times, at which point it will eventually correct itsel

[2019-12-12 13:44] souuu opened #155 "Can't use defineMode ?"
Hello,
I want to apply the defineMode function to extend an existing mode like this :

Demo : https://codemirror.net/2/demo/mustache.html
Code : https://github.com/codemirror/CodeMirror/blob/master/demo/mustache.html

How can I do this ?

[2019-12-18 12:41] tbwork opened #156 "beforeChange is not fired?"
My codes:
[code]

[2020-01-24 12:08] lcasoft commented on #71
I know this is an old issue but wanted to provide an alternative solution that we've used for our service virtualization tool [EkkoProxy](https://www.ekkoproxy.com) where we have many CodeMirror components that needed different sizing etc. meaning we could not use the global css override option (`:global .CodeMirror {}`) provided elsewhere. As CodeMirror supports using multiple themes we just defi

[2020-01-24 14:13] lcasoft commented on #57
I know this is an old issue but wanted to provide an alternative solution that we've used for our service virtualization tool [EkkoProxy ](https://www.ekkoproxy.com/) where we have many CodeMirror components that needed different sizing etc. meaning we could not use the global css override option (`:global .CodeMirror {}`) provided elsewhere. Though its also possible to call the `setSize` using a

[2020-01-27 16:02] gampleman opened #157 "autofocus is broken on UnControlled"
Seems like the call to `focus()` only happens in the Controlled version.

[2020-02-21 08:02] kalyan-csiro commented on #25
[code]

Works for me.

[2020-02-22 18:24] thisconnect commented on #149
https://www.npmjs.com/package/react-ace

[2020-03-04 14:27] danieldanielecki commented on #145
In my case, I didn't have included one of the language-specific modes in the `mode` folder.

[2020-03-19 06:28] songyule commented on #77
if you are using NextJS, maybe you can use this easier way

`import dynamic from 'next/dynamic';`
`const CodeMirror = dynamic(() => import('react-codemirror'), { ssr: false });`

[2020-04-10 14:05] naspredam commented on #25
We had the same solution as per @kalyan-csiro, but when we removed the lock file and do an npm install...

Now on the downloaded lock file, it is broken...

[2020-04-10 14:22] naspredam commented on #25
I worked again. It seems that I had an import instead of assigning to a variable. Just if anyone else have the same issue. This worked for me

[code]

[2020-04-14 11:59] wancun opened #158 "how can I use MergeView"
hi，first,
thanks for react-codemirror

There's a codemirror merge demo on the official website.
https://codemirror.net/demo/merge.html#

[2020-05-30 17:14] itroz opened #159 "lineNumbers show in preview codemirror"
Hi,
First of all, thank you.
I when enable lineNumbers: true in code, line numbers showing to output.
Please see screenshot
https://imgur.com/nGfIqcy

thx

[2020-06-01 05:45] prashantchothani commented on #77
@songyule Can you please help me with the full code where it is used please ?

[2020-06-01 06:09] rohitninawe commented on #77
Thanks @Salakar and @sslotsky . works for me as well

[2020-06-05 13:15] caginbektas commented on #34
I just wanted to resurrected this topic, I was suffering with this too. I wanted to share my solution to save the fellas as much as possible. I added those lines and it is solved.

[code]

Editor initializing:
[code]

[2020-06-17 13:08] sombreroEnPuntas commented on #77
Something like this should work, @prashantchothani

[code]

[2020-06-18 05:09] prashantchothani commented on #77
Thanks @sombreroEnPuntas It worked

[2020-07-11 17:06] ssadev commented on #146
Use [react-codemirror2](https://github.com/scniro/react-codemirror2). Here how i solve this:

[code]

[2020-07-16 07:23] rutfin opened #160 "."
.

[2020-07-16 07:24] #160 closed, assigned to nobody

[2020-07-30 10:17] WxxShirley commented on #113
how do you fix this? @osamajandali

[2020-12-09 07:16] atassis opened #162 "New project with react-codemirror on typescript"
Guys, it seems that this project is not being developed anymore. That's why for my needs I made a new one:
https://github.com/atassis/react-codemirror-ts
If you see any issues or features to be done- call me out.

[2021-02-06 17:58] deanevs opened #163 "Codemirror syntax highlighting works in preview but not when published"
This plugin looks really great but I can seem to get it to appear correct when published.  I have checked through the settings and see nothing that can help me.  Appreciate any help, thank you

![syntax not highlighting](https://user-images.githubusercontent.com/15826772/107125960-cd1bab80-68a4-11eb-91d9-b3a46abcd825.JPG)
![syntax highlighting](https://user-images.githubusercontent.com/15826772/10

[2021-02-12 01:56] ManuTheCoder commented on #6
I know my answer is late (and very old), but here is my solution
[code]

[2021-12-01 17:07] #132 closed, assigned to nobody

[2021-12-03 15:42] chrisgbaker opened #164 "Support React 17"
# Overview
Hello! I was curious if React 17 support was on the roadmap to be added to `react-codemirror`? Thanks!

## Package versions
react-codemirror version: @latest

[2021-12-08 06:10] saravanan-trika commented on #77
**react-codemirror2** this method working.

import { Controlled as CodeMirror } from "react-codemirror2";

let modeLoaded = false
if (typeof window !== 'undefined' && typeof window.navigator !== 'undefined') {
  require('codemirror/mode/javascript/javascript')
  modeLoaded = true
}
const Editor = (props) => {
  const options = {
      autoCloseBrackets: true,
      lineWrapping: true,
      mode:

[2022-08-09 18:59] Webkadabra commented on #162
@atassis good job!

[2022-09-16 03:50] Pranayk786 opened #165 "[CVE-2022-37470]/prototype-pollution found in react-codemirror.js"
Prototype pollution vulnerability in JedWatson react-codemirror 1.0.0 via the cacheKey variable in react-codemirror.js.

The prototype pollution vulnerability can be mitigated with several best practices described here:
https://learn.snyk.io/lessons/prototype-pollution/javascript/

[2022-09-16 05:18] Pranayk786 opened #166 "[CVE-2022-37472]/prototype-pollution found in react-codemirror.js"
Prototype pollution vulnerability in function factory in react-codemirror.js in JedWatson react-codemirror 1.0.0 via the name variable in react-codemirror.js.

The prototype pollution vulnerability can be mitigated with several best practices described here:
https://learn.snyk.io/lessons/prototype-pollution/javascript/

[2022-09-16 05:23] Pranayk786 opened #167 "[CVE-2022-37475]/prototype-pollution found in react-codemirror.js"
Prototype pollution vulnerability in function factory in react-codemirror.js in JedWatson react-codemirror 1.0.0 via the key variable in react-codemirror.js.

The prototype pollution vulnerability can be mitigated with several best practices described here:
https://learn.snyk.io/lessons/prototype-pollution/javascript/